#post-end-wechat(style=`text-align: center;display: inline-block;line-height: 36px;width: 100%;margin: 0 auto;`)
  center
    img#wechat-qrcode(style=`width: 200px;max-width: 100%;` src=`${theme.post_end.wechat.cdn_qrcode}` onerror=`onerror=null;src='${theme.post_end.wechat.local_default_qrcode}'`, alt='打工这件小事')
  div=theme.post_end.wechat.description
