div
  div(style='text-align:center;color: #ccc;font-size:14px;font-family: cursive;')
    | -------------&#x6709;&#x8FC7;&#x7275;&#x6302;
    i(style='margin:0 7px;').fa.fa-umbrella
    | &#x4E86;&#x65E0;&#x7275;&#x6302;-------------
